@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --primary-color: #e76f51;
}

* {
  font-family: "Poppins", sans-serif;
}

.honda-btn {
  background-color: var(--primary-color);
}
.txt-primary {
  color: var(--primary-color);
}

.gray-scale {
  filter: grayscale(1);
}
